.Subtrao-1 {
    float: left;
    margin-top: -5%;
    height: 300px;
    object-fit: contain;
  }

  .XNotes {
    float: left;
    margin: 2%;
    object-fit: contain;
    font-family: Cambria;
    font-size: 60px;
    font-weight: normal;
    line-height: 1.18;
    text-align: left;
    color: #4063a8;
  }

  .divisao {
    float: left;
    height:400px;
    width: auto;
    object-fit: contain;
  }

  h2{
    object-fit: contain;
    font-family: Rage;
    font-size: 50px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.26;
    letter-spacing: normal;
    text-align: center;
  }

  .MNotes {
    float: left;
    margin: 2%;
    object-fit: contain;
    font-family: Cambria;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.18;
    text-align: right;
    color: #4063a8;
    margin-top: -300px;
    margin-left: 60px;
  }  

  .conteudo{
    float: left;
    resize: none;
    width: 75%;
    height: 500px;
    object-fit: contain; 
    margin-top: -4.3%;
    margin-left: 10px;
  }

  .caixas{
    width: 20%;
    height: 50px;
    object-fit: contain;
    background-color: #fe8c51;
    margin-left: -10px;
    margin-top: 250px;
    margin-bottom: 2%;
  }

  p{
    object-fit: contain;
    margin-top: 250px;
    margin-bottom: 2%;
    width: 250px;
    height: 50px;
    text-align: right;
  }